.userBox {
  border: 1px solid #fff;
  width: 170px;
  display: flex;
  gap: 10px;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 20px;
  cursor: pointer;
}

.userBox:hover{
  background-color: #fff;

  .userName {
    color: #5f4dee;
  }
}
.userPhoto {
  width: 30px;
  border-radius: 50%;
}

.userName {
  display: flex;
  align-items: center;
  color: #fff;
}